<ion-view view-title="Carmess" hide-back-button="true">
        <ion-content class="padding-top">
          <div class="list text-center padding">
            <i class="icon ion-model-s larger positive"></i>
          </div>
          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
          <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label">Email</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
              <div class="form-error" ng-message="required">Campo obrigatório.</div>
              <div class="form-error" ng-message="email">Inserir email válido.</div>
              <div class="form-error" ng-message="minlength">Deve conter ao menos 5 caracteres.</div>
              <div class="form-error" ng-message="maxlength">Deve conter menos de 30 caracteres.</div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Senha</span>
              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Senha"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">Campo obrigatório.</div>
              <div class="form-error" ng-message="minlength">Deve conter ao menos 5 caracteres.</div>
              <div class="form-error" ng-message="maxlength">Deve conter menos de 30 caracteres.</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-positive" value="Acessar">
            <p class="text-center padding-top">
                <!--<a href="#/forgot" class="button button-clear button-positive">Lembrar senha</a>-->
                <a href="#/forgot" class="button button-clear button-positive">Lembrar senha</a>
                <a href="#/register" class="button button-clear button-positive">Cadastrar</a>
            </p>
            <!--<p class="text-center padding"> 
              Login with:
                <i ng-click="loginWithFacebook()" class="icon padding medium ion-social-facebook positive"></i><i ng-click="loginWithGoogle()" class="icon padding medium ion-social-google positive"></i><i ng-click="loginWithTwitter()" class="icon padding medium ion-social-twitter positive"></i>
            </p>-->
          </div>
        </form>
        </ion-content>
</ion-view>
