<ion-view hide-back-button="false" title='{{carro}}' style="bakcground-color:#f70;">

<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-content> 

  <div scroll-item ng-repeat="message in messages" >

    <div class="commentArea" >

      <div ng-if="meuid != message.id_origem" class="bubbledRight">
        <span>{{carro}}</span><br/>
         {{message.texto}}
      </div>

      <div ng-if="meuid == message.id_origem" class="bubbledLeft">
        <span>Você</span><br/>
         {{message.texto}}
      </div>

    </div>
  </div>

</ion-content>




<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
  <label class="item-input-wrapper">
    <input id="mensagem" type="text" placeholder="Envie sua mensagem" class="inputchat"  />
    <!--<input id="mensagem" type="text" placeholder="Envie sua mensagem" on-return="sendMessage(); closeKeyboard()" class="inputchat"  />-->
   </label>
  <button class="button" ng-click="sendMessage()">
    Enviar
  </button>
</ion-footer-bar>


</ion-view>
