<ion-view>

    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
   
    <ion-header-bar align-title="left" class="bar-positive">
      <h1 class="title"></h1>
      <div class="buttons">
        <img class='fotocircular' src='{{profilefoto}}' height='30' >
      </div>
    </ion-header-bar>

    <ion-content has-header="true" padding="true" class="conteudohome">

        <div class="row row-center">
          <div class="col col-center">
          <h3>  Digite a placa </h3>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input inputselecut placasddf">
              <input autofocus="" class="inputplaca inpal1" placeholder="ABC" ng-keypress="validateCode($event,1)" ng-trim="false" type="text" ng-model="placa.input1" maxlength="3" min="3" max="3" style="text-align: right;font-size:40px;text-transform:uppercase;">
            </label>
          </div>        

          <div class="col">
            <label class="item item-input inputselecut placasddf">
              <input class="inputplaca inpal2" placeholder="1234" ng-keypress="validateCode($event,2)" ng-trim="false" type="text" ng-model="placa.input2" maxlength="4" min="4" max="4" style="text-align: left;font-size:40px;text-transform:uppercase;">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button id="submitnput" ng-click="enviadados()" class="button button-block button-positive">
              Buscar
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">

            <ion-list>
                <ion-item ng-repeat="placa in placas">
                    <img ng-src="{{item.location}}" style="width: 100%;">
                </ion-item>
            </ion-list>

            <div ng-repeat="lar in bebe">
              {{lar}}

            </div>

          </div>
        </div>

    </ion-content>

</ion-view>

