<ion-view>

    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
   
    <ion-header-bar align-title="left" class="bar-positive">
      <h1 class="title"></h1>
      <div class="buttons">
        <img class='fotocircular' src='{{profilefoto}}' height='30' >
      </div>
    </ion-header-bar>

    <ion-content has-header="true" padding="true" class="conteudohome">

        <div class="row row-center">
          <div class="col col-center">
          <h3>  Digite a placa </h3>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input inputselecut placasddf">
              <input autofocus="" id="placa1" class="inputplaca inpal1" placeholder="ABC" ng-keypress="validateCode($event,1)" ng-trim="false" type="text" ng-model="placa.input1" maxlength="3" min="3" max="3" style="text-align: right;font-size:40px;text-transform:uppercase;">
            </label>
          </div>        

          <div class="col">
            <label class="item item-input inputselecut placasddf">
              <input class="inputplaca inpal2" id="placa2" placeholder="1234" ng-keypress="validateCode($event,2)" ng-trim="false" type="text" ng-model="placa.input2" maxlength="4" min="4" max="4" style="text-align: left;font-size:40px;text-transform:uppercase;">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button id="submitnput" ng-click="enviadados()" class="button button-block button-positive">
              Buscar
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            
           <ion-item ng-repeat="placa in listPlacas">
           <a href="#/app/chat/{{placa.id}}/{{placa.carro}}" style="text-decoration:none;color:#666;">
              <div class="item-icon-left">
                  <img ng-if="placa.avatar" style="float:left" class='fotocircular' src='{{placa.avatar}}' height='30' >
                  <p>{{placa.carro}}</p>
              </div>
              <div class="item-icon-right">
                  <i class="icon ion-ios-arrow-right"></i>
              </div>
          </a>
          </ion-item>

          </div>
        </div>

    </ion-content>

</ion-view>

