<ion-view view-title="{{placa}}">
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
</ion-nav-bar>


    <ion-content>

       <div class="item item-button-right" ng-if="mostra == true">
                Sandero vermelho
                <div class="buttons">

                    <button ng-click="chatgo()" class="button button-energized">
                        <i class="icon ion-chatbubbles"></i>
                    </button>
                </div>
            </div>

    </ion-content>
</ion-view>
